@import "../../../../variables";

.search {
    @include size(65%, 8vh);
    @extend %box;

    padding: 5px;

    input {
        @include size(100%, 100%);

        text-align: center;
        padding: 10px;

        background: none;
        font-size: 30px;
    }
}