@import "../../../../variables";

.addBtn {
    padding: 8px 20px;
    margin-left: 10px;

    @extend %button;
}

.addBtnClose {
    padding: 8px 20px;
    margin-left: 10px;

    border: 2px solid #cdcbcb;
    color: #cdcbcb;
    font-size: 20px;
    background: none;
}