@import "../../../variables";

.addUser {
    @include size(50%, 12vh);
    @include flex(row, space-between, center);
    @extend %box;

    overflow: hidden;
    padding: 15px;
    margin: 0 0 20px 0;
}