@import "../../../variables";

.titleTable {
    height: 15px;

    span {
        margin: 0 5px 0 0;
    }

    th {
        @extend %tableString;

        border: 4px double black;
        padding: 3px;
        font-weight: normal;
        cursor: pointer;
    }
}