@import "../../../variables";

.userList {
  @include size(80%, auto);
  @include flex(column, center, flex-start);
  @extend %box;

  padding: 20px;
  margin-bottom: 20px;

  div {
    margin: 10px 0;
    font-weight: bold;
  }

  span {
    font-weight: normal;
  }
}