@import "../../../../variables";

.writeText {
  width: 100%;
  display: flex;

  div {
    @include flex(column, center, center);
    width: 20%;
    margin: 0 5px 0 5px;
  }

  input {
    width: 100%;
    margin-top: 10px;

    font-size: 18px;
    text-align: center;

    background: none;
    border-bottom: 2px solid black;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
